opencv-python-headless>=4.12.0.88,<5.0.0 
av 
pillow      
numpy>=2.0.0,<3.0.0
scipy    
scikit-learn 
pandas      
pyarrow   
pytesseract  
yt-dlp       
requests    
huggingface-hub 
datasets    
tqdm    
